@use "../Functions/Functions" as f;
@use "../Functions/breakpoints.scss" as u;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(16, 14, 29, 1);
  overflow: hidden;
  font-family: "Raleway";
  @include u.breakpoints(medium) {
    overflow-y: scroll;
  }
  @media screen and (max-width: f.rem(900)) {
    overflow-y: scroll;
  }
}
.image {
  @media screen and (max-width: f.rem(375)) {
    transform: translateX(f.rem(-55));
  }
}
// .allDivs {
//   background-color: rgba(30, 33, 58, 1);
// }
.sideDiv {
  background-color: #1e213a;
  background-repeat: no-repeat;
  width: f.rem(459);
  height: f.rem(1023);
  @media screen and (max-width: f.rem(375)) {
    width: 350px;
  }
}
.image > img {
  width: f.rem(150);
  height: f.rem(150);
  transform: translate(f.rem(130), f.rem(40));
  margin-bottom: 30px;

  @include u.breakpoints(medium) {
    transform: translate(f.rem(60), f.rem(40));
    width: f.rem(160);
  }
}
.searchBtn {
  margin-top: f.rem(70);
  width: f.rem(161);
  height: f.rem(40);
  transform: translate(f.rem(12), f.rem(-20));
  background: #6e707a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #e7e7eb;
}
.form > input {
  box-sizing: border-box;
  transform: translate(f.rem(10), f.rem(-60));
  width: 268px;
  height: 48px;
  border: 1px solid #e7e7eb;
  background-color: rgba(30, 33, 58, 1);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #616475;
  padding-left: f.rem(20);
  @include u.breakpoints(medium) {
    width: 202px;
  }
}
.form > button {
  width: 86px;
  height: 48px;
  transform: translate(f.rem(15), f.rem(-60));
  background: #3c47e9;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #e7e7eb;
  border: none;
}
.times {
  position: absolute;
  font-size: 30px;
  position: absolute;
  margin-top: 5px;
  left: f.rem(420);
  transform: translateY(f.rem(-100));
  color: #e7e7eb;
  @media screen and (max-width: f.rem(375)) {
    margin-top: f.rem(-95);
    transform: translateX(f.rem(-150));
  }
}
.tempDegree {
  font-family: "Raleway";
  font-style: normal;
  // transform: translate(f.rem(100), f.rem(80));
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 120px;
  line-height: 169px;
  color: #e7e7eb;
  @include u.breakpoints(medium) {
    transform: translate(f.rem(-80), f.rem(-40));
    font-size: 60px;
  }
}
.tempDegree > span,
h2 {
  font-size: 40px;
  color: rgba(160, 159, 177, 1);
}
.conditionText {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #a09fb1;
  margin-top: -30px;
  @media screen and (max-width: f.rem(375)) {
    transform: translateX(f.rem(-26));
  }
  @include u.breakpoints(medium) {
    transform: translateX(f.rem(-56));
    margin-top: f.rem(-90);
  }
}
.finalLocation > h2,
h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
  transform: translate(35%, 150%);
  @media screen and (max-width: f.rem(375)) {
    margin-top: f.rem(35);
    transform: translateX(f.rem(50));
  }
  @media screen and (max-width: f.rem(700)) {
    margin-top: f.rem(35);
    transform: translateX(f.rem(100));
  }
}
.finalLocation {
  @media screen and (max-width: f.rem(375)) {
    transform: translateX(f.rem(-50));
  }
}
.finalLocation h3 {
  margin-top: f.rem(20);
}
.forms {
  margin-top: -300px;
}
