@use "../Functions/Functions" as f;
@use "../Functions/breakpoints.scss" as u;

.container {
  display: flex;
  @include u.breakpoints(medium) {
    display: grid;
  }
}
button {
  border: none;
}
.flexContainer {
  margin-top: 30px;
  transform: translateY(f.rem(300));
  display: flex;
  justify-content: end;
  margin-right: f.rem(20);
  gap: f.rem(3);
  @media screen and (max-width: f.rem(700)) {
    display: none;
  }
}
.flexContainer > button {
  width: f.rem(30);
  height: f.rem(30);
  border-radius: 50%;
}
.flexBox {
  display: flex;
  gap: f.rem(30);
  margin-top: f.rem(320);

  @media screen and (max-width: f.rem(300)) {
    display: flex;
    margin-top: f.rem(520);
    flex-wrap: wrap;
  }
  @media screen and (min-width: f.rem(301)) {
    display: flex;
    margin-top: f.rem(370);
    flex-wrap: wrap;
    transform: translateX(f.rem(30));
  }
  @media screen and (min-width: f.rem(901)) {
    transform: translateX(f.rem(80));
  }
}
.flexItem {
  padding: f.rem(15);
  width: 120px;
  height: 177px;
  background: #1e213a;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (max-width: f.rem(375)) {
    display: grid;
  }
}
.flexItem > img {
  width: f.rem(70);
}
.flexItem > h1 {
  font-size: 18px;
  max-width: f.rem(180);
  padding-left: 12px;
}
.flexDetails {
  display: flex;
  flex-wrap: wrap;
  gap: f.rem(20);
  transform: translateX(f.rem(85));
  margin-top: f.rem(30);
  @media screen and (max-width: f.rem(375)) {
    display: grid;
    transform: translateX(f.rem(20));
  }
}
.gridItem {
  width: 328px;
  height: 150px;
  background: #1e213a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (max-width: f.rem(375)) {
    display: grid;
    width: 280px;
    height: 150px;
  }
}
.secondDiv {
  @include u.breakpoints(small) {
    margin-top: -200px;
  }
}
.h1 {
  font-size: 20px;
  color: #e7e7eb;
  margin-top: f.rem(15);
  margin-left: f.rem(80);
  @media screen and (max-width: f.rem(375)) {
    margin-left: 10%;
  }
  @media screen and (min-width: f.rem(400)) {
    margin-top: f.rem(40);
    font-size: 28px;
    margin-left: 20%;
  }
}
.flexItem > h1,
h3,
h5,
h6 {
  font-size: 16px;
  line-height: 19px;
  color: #e7e7eb;
}
.gridItem > h3,
h5,
h6 {
  padding: 10px;
  font-size: 13px;
  line-height: 10px;
  color: #e7e7eb;
  padding: 6px;
  text-align: center;
}
.gridItem > h1 {
  text-align: center;
  padding: f.rem(6);
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  color: #e7e7eb;
}
.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 15px;
  width: 250px;
  transform: translateX(f.rem(50));
  margin-bottom: f.rem(15);
  @media screen and (max-width: f.rem(375)) {
    transform: translateX(f.rem(15));
  }
}

.progress-done {
  background: linear-gradient(to left, #f2709c, #ff9472);
  // box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
.gridItem > h5 {
  padding-top: f.rem(8);
}
.flexDetails {
  @media screen and (max-width: f.rem(375)) {
  }
}
.flexBox {
  @media screen and (max-width: f.rem(375)) {
    transform: translateX(f.rem(15));
  }
}
.flexContainer > button:first-child {
  background: #e7e7eb;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.flexContainer > button:last-child {
  background: #585676;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #e7e7eb;
}
